*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: normal 16px sans-serif;
}

@media (max-width: 499px) {

	#logo {
		width: 90vw;
	}

	#portal_img {
		width: 90vw;
		height: 50vh;
	}

	.btn_freewifi, .btn_roaming {
		display: block;
		border: solid 0px white;
		color: white;
		font-weight: bold;
		margin: auto;
		width: 70vw;
		height: 7vh;
	}

	#div_check {
		display: block;
		margin: 5% 15%;
		font-size: 13px;
	}

	footer {
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
		font-size: 13px;
	}

	#free_submit {
		background-color: orange;
		border: solid 0px white;
		color: white;
		font-weight: bold;
		margin-bottom: 15px;
		width: 30vw;
		height: 5vh;
	}

}

@media (min-width: 500px) {

	#logo {
		width: 30vw;
	}

	#portal_img {
		width: 30vw;
		height: 50vh;
	}

	.btn_freewifi, .btn_roaming {
		display: block;
		border: solid 0px white;
		color: white;
		font-weight: bold;
		margin: auto;
		width: 30vw;
		height: 7vh;
		font-size: 100%;
	}

	#div_check {
		display: block;
		margin: 30px;
		font-size: 16px;
		text-align: center;
	}

	footer {
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  text-align: center;
		font-size: 16px;
	}

	#free_submit {
		background-color: orange;
		border: solid 0px white;
		color: white;
		font-weight: bold;
		margin-bottom: 15px;
		width: 15vw;
		height: 5vh;
		font-size: 100%;
	}

}

.choice_btn {
		margin: 15px 0;
}

.btn_freewifi {
	background-color: orange;
}

.btn_roaming {
	margin-top: 5px;
	background-color: blue;
}

.inputs input {
	margin: 5px 0;
}
